<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC001()[pri:0, instance:Package.NewTest@68be2bc2]">TC001</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:50</td>   <td>6779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.TC002()[pri:0, instance:Package.NewTest@68be2bc2]">TC002</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:40:00</td>   <td>16752</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterClass()[pri:0, instance:Package.NewTest@68be2bc2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:49</td>   <td>6594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:Package.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:58</td>   <td>14720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:Package.NewTest@68be2bc2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:40:00</td>   <td>16915</td> <td title="&lt;&lt;NewTest.afterSuite()[pri:0, instance:Package.NewTest@68be2bc2]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:40:00</td>   <td>16756</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:Package.NewTest@68be2bc2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:39</td>   <td>-4169</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeClass()[pri:0, instance:Package.NewTest@68be2bc2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:39</td>   <td>-4099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:Package.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:50</td>   <td>6763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeMethod()[pri:0, instance:Package.NewTest@68be2bc2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:12</td>   <td>-31272</td> <td title="&gt;&gt;NewTest.beforeSuite()[pri:0, instance:Package.NewTest@68be2bc2]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>17/10/29 17:39:12</td>   <td>-31272</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:Package.NewTest@68be2bc2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1580893732</td>   <td></td> </tr>
</table>
